# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp files
.*~

# build folders
obj/
bin/

#eclipse junk
.project
.cproject
.settings/
/nbproject/private/private.xml
/nbproject/project.xml
/nbproject/private/launcher.properties
/nbproject/configurations.xml
/nbproject/private/Default.properties
/nbproject/private/configurations.xml
/Debug/
